body{
    background-color:whitesmoke;
    }
#principal{
    background-image: url("Images/principal.jpeg");
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:10px;
    background-color: transparent;
}
div{
    background-color: whitesmoke;
    text-align: center;
    
}
a{
       background-color: #802434;
       color: white;
       font-weight: bold;
    
}
ul,ol{
    text-align: left;
}

h1, h2{
    background-color: black;
    color: white;
    text-align: center;
    font-family: "ubuntu";
}
h3{
    background-color: #802434;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}